body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width: 300px;
    border: none;
    color: white;
    background-color: rgb(41, 41, 41);
}
.calculate{
    height: 70px;
    border-bottom: none;
    font-size: 2rem;
    color: white;
    background-color: rgb(41, 41, 41);
    border-radius: 35px;
    padding-left: 25px;
}
.result{
    height: 70px;
    border-top: none;
    margin-bottom: 5px;
    font-size: 3.5rem;
    padding-left: 25px;
}
button{
    height: 55px;
    width: 55px;
    margin: 5px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: lighter;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 5px rgb(204, 201, 201);
}
.color{
    background-color: rgb(57, 56, 56);
}
.zero{
    width: 125px;
    margin-left: 38px;
    border-radius: 100px;
}
.space{
    margin-left: 30px;
}
.btn-color{
    background-color: rgb(255, 68, 0);
    border: none;
    /* box-shadow: inset 0 0 15px rgb(102, 27, 0); */
    color: white;
}
.userInput{
    border: 5px solid rgb(255, 68, 0);
    border-radius: 20px;
}
.sizing{
    font-size: 35px;
    font-weight: lighter;
}